body{
    background-color: #0f1f3c;
    text-align: center;
  
}
.narrative{
    font-family: serif;
}
.content{
    color: white;

}
.body{
    color: white;
}
.Akan{
    font-family: serif;
    font-style: inherit;
    color: #f8532c;
}
