body{
    background-color: white;
    text-align: center;
    border-radius: 300px;
}
.narrative{
    font-family: serif;
}
.content{
    color: black;

}

.all{
    box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    border-radius: 12px;
    color: #fff;
    width: 50%;
    padding: 30px;
    margin: 30px auto;
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
} 

.user{
    display: block;
    color: black;

}
h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
    max-width: 80%;
    border-radius: 10px;
}
h2{
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 4px;
}
p{
    line-height: 1.5;
    font-size: 13px;
    margin: 20px 0 10px;


}
.Akan{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 4px;

} 
h4{
    display: block;
    margin: 20px auto;
    font-size: 18px;
    background-color: black;
    border: none;
    border-radius: 6px;
    max-width: 30%;
    max-height: 70%;
    padding: 15px 20px;


}
button{
    border-style: solid #f8532c;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 40px;
    width: 20%;
  
    
}
button.hover{
    opacity: 0.9;
    cursor: pointer;

}
